<p #teacherTitle>teacher works!</p>
<ul>
  <li
    *ngFor="let teacher of teacherList; let i = index"
    (click)="handleClick(teacher, i)"
    [class.activeClass]="selectedIndex === i"
  >
    <span>{{ teacher.name }}</span> - <span>{{ teacher.title }}</span> -
    <span>{{ teacher.age }}</span>
    <span
      *ngIf="selectedIndex === i"
      [ngClass]="{ go: true }"
      [ngStyle]="{ 'font-weight': 'bold' }"
    >
      Go
    </span>
  </li>
</ul>

<div>
  <!-- <input type="text" [value]="inputValue" (input)="inputValue = $event.target.value"> -->
  <input type="text" [ngModel]="inputValue" (ngModelChange)="inputValue = $event">
  <!-- <input type="text" [(ngModel)]="inputValue"> -->
  <span>Hi, {{inputValue}}</span>
  <p appMyDirective>{{emoji}}</p>
</div>
